* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #2f1893;
}

.Header {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 60px;
}

.col-1 {
  color: #ffffff;
}

.col-2 {
  display: flex;
}

.col-2 h3 {
  color: #ffffff;
  padding-top: 2px;
  padding-right: 25px;
  margin: 2px;
  font-size: 18px;
  margin-top: 7px;
}

.col-2 .opcity {
  color: #949494;
}

.col-2 button {
  background-color: #e93a7d;
  border: none;
  border-radius: 60px;
  color: #ffffff;
  width: 120px;
  height: 40px;
  flex-shrink: 0;
  font-size: 18px;
}

.bodyComponent {
  margin-top: 90px;
  margin-right: 200px;
  margin-left: 200px;
  display: flex;
}

.text {
  color: white;
  width: 440px;
  height: 500px;
  flex-shrink: 0;
}

.text .about {
  width: 370px;
  height: 500px;
}

.text .about .headline {
  font-family: DM Sans;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 120.69% */
  letter-spacing: -1px;
}

.text .about .about-text {
  margin-top: 30px;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  width: 320px;
  font-weight: 500;
  line-height: 32px;
}

.text .about button {
  margin-top: 45px;
  border: none;
  background-color: #e93a7d;
  width: 157px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 60px;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: white;
}

.SignUp {
  border-radius: 17px;
  background-color: white;
  width: 440px;
  height: 600px;
  flex-shrink: 0;
  text-align: center;
  margin-bottom: 120px;
}

.SignUp h1 {
  margin-top: 40px;
  color: #1e0e62;
  font-family: DM Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 123.81% */
  letter-spacing: -0.4px;
}

.SignUp .input-1 {
  margin-top: 8px;
}

.SignUp .input-1 input,
.SignUp .input-2 input {
  margin-top: 27px;
  width: 290px;
  height: 50px;
  flex-shrink: 0;
  color: #ebeaed;
  border-radius: 50px;
  border: solid gray 1px;
  padding-left: 30px;
  font-size: 17px;
}

.SignUp .tick {
  margin-top: 35px;
  margin-bottom: 35px;
  color: #949494;
  font-size: 17px;
  margin-right: 90px;
}

.SignUp .button-1 button,
.SignUp .button-2 button {
  border-radius: 50px;
  width: 330px;
  height: 50px;
  flex-shrink: 0;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: #ffffff;
  border: none;
}

.SignUp .button-1 button {
  background-color: #482be7;
}

.SignUp .button-2 button {
  background-color: #1da1f2;
}

.SignUp .or {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 14%;
  display: flex;
  color: gray;
}

.SignUp .or p {
  margin-right: 10px;
  margin-left: 10px;
}

.SignUp .or .line {
  margin-top: 10px;
  width: 140px;
  height: 1px;
  background-color: gray;
}

.SignUp .buttom-text {
  margin-top: 30px;
  margin-left: 20%;
  display: flex;
  margin-bottom: 30px;
  color: #949494;
  font-weight: bold;
  font-size: 18px;
}
.SignUp .buttom-text #p1 {
  padding-right: 12px;
}
